<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}What To-do{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="dark:bg-gray-800 bg-white relative overflow-hidden h-screen">
        <header class="h-24 sm:h-32 flex items-center z-30 w-full">
            <div class="container mx-auto px-6 flex items-center justify-between">
                <div class="uppercase text-gray-800 dark:text-white font-black text-3xl">
                    What To.do
                </div>
                <div class="flex items-center">
                    <nav class="font-sen text-gray-800 dark:text-white uppercase text-lg lg:flex items-center hidden">
                        <a href="/" class="py-2 px-6 flex">
                            Home
                        </a>
                        <a href="{{ path("app_task_index")}}" class="py-2 px-6 flex">
                            To-do List
                        </a>
                        <a href="{{ path('contact_form') }}" class="py-2 px-6 flex">
                            Contact
                        </a>
                        <a href="{{ path('contact_messages') }}" class="py-2 px-6 flex">
                            Messages reçus
                        </a>
                        <a href="{{ path('social_dashboard') }}" class="py-2 px-6 flex">
                            News
                        </a>
                    </nav>
                    <button class="lg:hidden flex flex-col ml-4">
                        <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                        </span>
                        <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                        </span>
                        <span class="w-6 h-1 bg-gray-800 dark:bg-white mb-1">
                        </span>
                    </button>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
